<div class="container">
  <img class="logo" src="../images/DnRlogo.png">
</div>

<div class="banner">
  <img src="../images/bannertest.jpg">
</div>

<div class="container">
  <div class="post">
    <h1>Article Header</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut tortor quis dolor efficitur lacinia et quis mi. In lobortis non sem ut lacinia. Integer quis orci molestie, viverra libero et, gravida eros. Curabitur id metus at libero suscipit faucibus. Etiam efficitur congue justo nec venenatis. Fusce in turpis justo. Maecenas vulputate lectus metus, sit amet tincidunt dolor placerat sed.</p>

<p>Ut fermentum diam nec congue dignissim. Donec placerat varius odio vel molestie. Donec sollicitudin nisl magna, sit amet maximus dolor elementum vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam quis fermentum ipsum, sed lacinia enim. Integer neque elit, luctus in sollicitudin id, faucibus nec dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus arcu leo, at bibendum tellus facilisis in. Sed nulla eros, ultrices vitae eros et, laoreet viverra lacus. Quisque hendrerit fermentum sem, id hendrerit orci lacinia at. Quisque sollicitudin bibendum elit, quis scelerisque lorem maximus pharetra. Nunc imperdiet magna quis diam ultricies dictum. Pellentesque at lobortis massa, id mattis est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat lorem id ligula fermentum, eget tempus ligula ornare. Mauris volutpat lacinia lorem, id ultricies dui pulvinar sit amet.</p>

<p>Praesent commodo ligula nec tellus maximus commodo. Aenean pretium leo nec augue feugiat, non mattis libero congue. Vivamus eu laoreet metus. In hac habitasse platea dictumst. Fusce nisl mauris, pharetra et orci sed, tristique commodo mi. Donec vitae augue at dui fringilla luctus ut faucibus turpis. Cras vel consequat nulla. Praesent vehicula erat urna, non vestibulum magna venenatis et. Proin malesuada pretium ligula sit amet ultricies. Aenean at nibh id quam placerat porta vitae a libero. Nullam pulvinar, ex eu placerat maximus, ex tellus fringilla ex, sit amet pellentesque purus odio ut metus. Nullam vel diam ac libero condimentum efficitur eu sed lorem. Mauris sed felis orci. Vivamus sed elementum ex, eu hendrerit dui. Aenean suscipit maximus interdum. Morbi finibus aliquet ligula id faucibus.<p>

<p>Suspendisse porttitor tortor et metus volutpat euismod. Mauris placerat vel ante non gravida. Cras sit amet dolor vestibulum, faucibus ante ut, auctor sapien. Vestibulum sed ornare arcu. Praesent et mauris quis diam blandit ultrices eu id tellus. Nullam maximus, elit semper congue fermentum, nisi enim tempor est, consectetur pharetra tortor tellus non tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus vehicula egestas massa, id ultricies purus interdum et. Morbi et diam ac dui tristique commodo semper nec nibh. Donec turpis velit, ultrices a arcu ac, ultrices maximus massa. Morbi dui libero, mattis nec mauris a, lacinia maximus augue. Etiam porta suscipit lobortis. Pellentesque faucibus massa eget mollis porttitor. Phasellus nec nibh et mi interdum pulvinar. Sed nec urna vel diam pretium consectetur. Aliquam erat volutpat.</p>

<p>In quis neque dictum, varius massa vitae, bibendum mi. Donec diam risus, pellentesque in tortor sed, ultricies scelerisque magna. Cras mauris leo, bibendum ut ante vel, porta semper dui. Aenean cursus blandit erat, nec malesuada dui ornare vitae. Nam vulputate, ante in convallis lacinia, sem sapien pulvinar erat, ac convallis tortor sapien ut nisl. Sed justo purus, finibus sed viverra eu, accumsan sit amet ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque nec blandit augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis aliquet ipsum velit. Quisque fermentum tincidunt suscipit. Morbi malesuada sollicitudin pulvinar. Fusce a porttitor sem, nec pharetra eros. Fusce mattis dui vel ligula ultrices, quis ultrices mi placerat.</p>
  </div>

  <div class="sidebar">
    <a class="twitter-timeline" data-height="600" href="https://twitter.com/japorito/lists/d-r-cast">Dungeons and Randomness Twitter List</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
